body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}
header{
    top: 0;
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    padding: 1rem;
    background-color: #6e6e6e;
}
header button{
    background-color: #fff;
    color: #3a3a3a;
}
header button:hover{
    text-decoration: underline;
}
main{
    border: 1px solid rgba(194, 194, 194, 0.685);
    border-radius: 0.5rem;
    margin: 2rem;
    padding: 0.8rem;
}
.form-event-container form{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.form-event-container form button{
    margin: 0.8rem;
}
.user-events-container h2{
    text-align: center;
    margin-bottom: 0.2rem;
}
.event-user-container{
    border: 1px solid rgba(194, 194, 194, 0.685);
    border-radius: 0.5rem;
    padding: 0.8rem;
    margin: 0.5rem;
}
.event-user-container p {
    margin-top: 10px;
}
.event-user-container button{
    margin-top: 10px;
}
.event-edit{
    display: none;
}
.event-edit form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.event-edit form input, label{
    margin: 0.1rem;
}
.event-edit form input{
    width: 100%;
}
.event-edit form button{
    margin: 0.5rem;
}